.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'nav-bar'
        'hero-section'
        'product-banner'
        'main-products';
    height: auto;
    width: 100vw;
}

.navigation-bar{
    grid-area: nav-bar;
}

.hero-section{
    grid-area: hero-section;
    height: 20rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow:auto;
}

.hero-section img{
    height: 15rem;
    width: 20rem;
    margin: 1rem;
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    align-items: center;
}

.product-banner{
    position: relative;
    width: 98%;
    max-height: 60vh;
    margin: 30px auto;
    overflow: hidden;
    padding: 0;
}

#slider{
    width: 100%;
    display: inline-flex;
    transition: 0.7s;
}

#slider img{
    width: 100%;
}

.order-now{
    position: absolute;
    left: 50%;
    bottom: 5rem;
    transform: translateX(-50%);
}

.indicators{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

.indicators span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--border-black);
    cursor: pointer;
}

.active{
    background-color: var(--primary-color) !important;
}

.occasional-products{
    grid-area: main-products;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'first-item second-item third-item';
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.occasional-item-1{
    grid-area:first-item;
}

.occasional-item-2{
    grid-area: second-item;
}

.occasional-item-3{
    grid-area: third-item;
}

.flex{
    flex-direction: column;
}

.occasional-products img{
    width: 40rem;
    height: 20rem;
}