.grid-container-product{
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'nav-bar nav-bar nav-bar nav-bar nav-bar '
        'filter main-product main-product main-product main-product'
}

.filter-section{
    grid-area: filter;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
    height: 100vh;
    border-right: 2px solid var(--border-black);
    overflow-y: hidden;
}

.filter-headings{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.range-slider{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product-list{
    grid-area: main-product;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}



